:root {
  --accent-color: #29cf34; /* Основной цвет */
  --accent-bg-color: #374F39; /* Фоновый цвет */
}

#details_view {
    background-color: white;
}

#details_view_play_button {
    color: white;
    background-color: rgba(0, 0, 0, .8);
}


