[Desktop Entry]
Name[hu]=Kazetták
Name[ta]=SOFL
Name[uk]=SOFL
Name[nb_NO]=SOFL
Name[fr]=Cartouches
Name[nl]=SOFL
Name[it]=SOFL
Name[ar]=SOFL
Name[es]=Cartuchos
Name[fi]=SOFL
Name[pt]=SOFL
Name[ru]=SOFL
Name[ko]=SOFL
Name[de]=SOFL
Name[ro]=Cartușe
Name[pt_BR]=SOFL
Name[fa]=کارتریج‌ها
Name[pl]=SOFL
Name[sv]=SOFL
Name[tr]=SOFL
Name[el]=Κασέτες
Name[cs]=SOFL
Name[zh_Hans]=SOFL
Name[be]=SOFL
Name[hr]=SOFL
Name[ca]=SOFL
Name[ja]=SOFL
Name[hi]=SOFL
Name[en_GB]=SOFL
Name[ie]=SOFL
Name[te]=SOFL
Name[ia]=SOFL
Name=SOFL
GenericName[hu]=Játékindító
GenericName[ta]=விளையாட்டு துவக்கி
GenericName[uk]=Ігровий лаунчер
GenericName[nb_NO]=Spillutvalgstarter
GenericName[fr]=Lanceur de jeux
GenericName[nl]=Game-launcher
GenericName[it]=Launcher di giochi
GenericName[ar]=مشغِّل ألعاب
GenericName[es]=Lanzador de juegos
GenericName[fi]=Pelin käynnistin
GenericName[pt]=Iniciador de jogos
GenericName[ru]=Средство запуска игр
GenericName[ko]=게임 런처
GenericName[de]=Spiele-Launcher
GenericName[ro]=Lansator de jocuri
GenericName[pt_BR]=Iniciador de jogos
GenericName[fa]=اجراگر بازی
GenericName[pl]=Launcher Gier
GenericName[sv]=Spelstartare
GenericName[tr]=Oyun Başlatıcı
GenericName[el]=Πρόγραμμα Εκκίνησης Παιχνιδιών
GenericName[cs]=Spouštěč her
GenericName[zh_Hans]=游戏启动器
GenericName[be]=Праграма запуску гульняў
GenericName[hr]=Pokretač za igre
GenericName[ca]=Llançador de jocs
GenericName[hi]=गेम लॉन्चर
GenericName[en_GB]=Game Launcher
GenericName[ie]=Lansator de ludes
GenericName[te]=గేమ్ లాంచర్
GenericName=Game Launcher
Comment[hu]=Indítsa el az összes játékát
Comment[ta]=உங்கள் எல்லா விளையாட்டுகளையும் தொடங்கவும்
Comment[uk]=Запустіть усі свої ігри
Comment[nb_NO]=Start alle spillene dine
Comment[fr]=Lancez tous vos jeux
Comment[nl]=Start al uw games op
Comment[it]=Avvia tutti i tuoi giochi
Comment[ar]=شغِّل كلَّ ألعابك
Comment[es]=Lance todos sus juegos
Comment[fi]=Käynnistä kaikki pelisi
Comment[pt]=Inicie todos os seus jogos
Comment[ru]=Запускайте все свои игры
Comment[ko]=모든 게임을 실행합니다
Comment[de]=Starten Sie alle Ihre Spiele
Comment[ro]=Lansați toate jocurile dvs.
Comment[pt_BR]=Inicie todos os seus jogos
Comment[fa]=اجرای همهٔ بازی‌هایتان
Comment[pl]=Uruchom wszystkie swoje gry
Comment[sv]=Starta alla dina spel
Comment[tr]=Tüm oyunlarınızı başlatın
Comment[el]=Εκκινήστε όλα σας τα παιχνίδια
Comment[cs]=Spusťte všechny vaše hry
Comment[zh_Hans]=启动所有游戏
Comment[be]=Запускайце ўсе свае гульні
Comment[hr]=Pokreni sve svoje igre
Comment[ca]=Llança tots els teus jocs
Comment[hi]=अपने सभी गेम्स लॉन्च करें
Comment[en_GB]=Launch all your games
Comment[ie]=Lansar vor ludes
Comment[te]=మీ అన్ని ఆటలను ప్రారంభించండి
Comment=Launch all your games
Exec=sofl
Icon=org.badkiko.sofl.Devel
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;PackageManager;
Keywords[hu]=játék;indító;steam;lutris;heroic;palackok;itch;flatpak;legendary;retroarch;
Keywords[ta]=விளையாட்டு; துவக்கி; steam;lutris;heroic;பாட்டில்கள்;itch;flatpak;legendary;retroarch;
Keywords[uk]=ігри;лаунчер;steam;lutris;heroic;bottles;itch;flatpak;legendary; retroarch;
Keywords[nb_NO]=gaming;lansere;spillstartere;steam;lutris;heroic;bottles;flasker;flatpak;legendary;retroarch;
Keywords[fr]=jeu;lanceur;steam;lutris;heroic;bouteilles;itch;flatpak;legendary;
Keywords[nl]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;spelen;games;starten;opstarten;
Keywords[it]=gioco;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[ar]=لعب;مشغل;ستيم;لوترس;هروك;قوارير;إتش;هيرويك;بوتلز;لجندري;فلاتباك;رتروآرتش;
Keywords[es]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;juegos;lanzador;
Keywords[fi]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;peli;pelaaminen;pullot;
Keywords[pt]=Jogos;lançador;gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;
Keywords[ru]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;игры;стим;
Keywords[ko]=gaming;게임;게이밍;launcher;실행기;실행프로그램;steam;스팀;lutris;루트리스;heroic;히어로익;bottles;보틀즈;itch;잇치;flatpak;플랫팩;legendary;레젠더리;retroarch;레트로아키;
Keywords[de]=spiel;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[ro]=jocuri;lansator;gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[pt_BR]=Jogos;lançador;gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;
Keywords[fa]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;بازی;استیم;لوتریس;هروییک;بطری‌ها;باتلز;ایچ;فلت‌پک;لجندری;رتروآرچ;
Keywords[pl]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[sv]=gaming;spelstartare;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[tr]=gaming;oyun;launcher;başlatıcı;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[el]=gaming;εκκινητής;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[cs]=hraní;spouštěč;steam;lutris;heroic;láhve;itch;flatpak;legendary;retroarch;
Keywords[zh_Hans]=游戏;启动器;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[be]=гульні;праграма запуску;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[hr]=igranje;pokretač;para;lutris;heroic;bottles;butelje;itch;flatpak;legendary;retroarch;
Keywords[ca]=jocs;llançador;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[hi]=गेमिंग;लॉन्चर;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[en_GB]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[ie]=ludes;lansator;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords[te]=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
Keywords=gaming;launcher;steam;lutris;heroic;bottles;itch;flatpak;legendary;retroarch;
StartupNotify=true
